<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <style>
        .header {
            background-color: #87cefa;
            padding: 1rem;
        }

        .logo {
            display: inline-block;
            margin-right: 2rem;
        }

        .nav {
            display: inline-block;
        }

        .nav a {
            margin-right: 1rem;
            text-decoration: none;
            color: white;
        }
    </style>

</head>
<body>
<header th:fragment="main_headerFragment">
    <!--  <img src="logo.png" alt="Logo" />-->
    <a class="logo" href="/main/index">근태관리 프로젝트</a>
    <nav class="nav">
        <a class="top_list_first" href="/main/login" sec:authorize="isAnonymous()">로그인</a>
        <a class="arrow_box_wrapper" href="/main/register" sec:authorize="isAnonymous()"> 회원가입 </a>
        <a href="/main/mypage" sec:autorize="isAuthenticated()">정보수정</a>
    </nav>
</header>
</body>
</html>