<!DOCTYPE html>
<html lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .header {
            background-color: #87cefa;
            padding: 1rem;
            display: flex;
            justify-content: center;
        }

        .nav {
            display: flex;
            gap: 2rem;
        }

        .nav a {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
<header class="header" th:fragment="main_headerFragment">
    <nav class="nav">
        <a class="logo" href="/main/index">근태관리 프로젝트</a>
        <a href="/main/login" sec:authorize="isAnonymous()">로그인</a>
        <a href="/main/register" sec:authorize="isAnonymous()"> 회원가입 </a>
        <a href="/main/mypage" sec:authorize="isAuthenticated()">마이페이지</a>
        <a href="/logout" sec:authorize="isAuthenticated()">로그아웃</a>
        <a href="/main/profile" sec:authorize="isAuthenticated()">회원 정보 수정</a>
    </nav>
</header>
</body>
</html>
