<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <title>register</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main/register_user.js"></script>
</head>
<body>
<!--header start-->
<header th:replace="~{main/header :: main_headerFragment}">
</header>
<!--header end-->

<!--section-->
<section>
    <!-- 로그인 되어있는 상태에서 로그인 페이지 들어오면 튕겨내기 위함-->
    <input id="loginTrue" sec:authorize="isAuthenticated()" type="hidden" value="loginTrue">

    <div class="section_caption">
        Employee JOIN
    </div>

    <div class="section_content">
        <form method="POST" onsubmit="return sendit()" th:action="@{/main/register}">
            <input id="flag" type="hidden" value="false">
            <table class="basicdata">
                <colgroup>
                    <col width="120px"/>
                    <col width="auto"/>
                </colgroup>
                <tr>
                    <th><label for="user_id">아이디<span>＊</span></label></th>
                    <td>
                        <input id="user_id" name="loginId" type="text">
                        <button id="double_check" type="button">중복확인 <i class="fas fa-chevron-right"></i></button>
                    </td>
                </tr>
                <tr>
                    <th><label for="login_pw">비밀번호<span>＊</span></label></th>
                    <td><input id="login_pw" name="loginPw" type="password">&nbsp; (영문 대소문자/숫자/특수문자 중2가지 이상 조합, 10~16자)
                    </td>
                </tr>
                <tr>
                    <th><label for="login_pw_ok">비밀번호확인<span>＊</span></label></th>
                    <td><input id="login_pw_ok" type="password"></td>
                </tr>
                <tr>
                    <th><label for="user_name">이름<span>＊</span></label></th>
                    <td><input id="user_name" name="name" type="text"></td>
                </tr>
                <tr>
                    <th><label for="emphone_number">긴급전화<span>*</span></label></th>
                    <td>
                        <select class="emphone_number" id="emphone_number" name="emPhoneNumber[]">
                            <option value="010">010</option>
                        </select>
                        -
                        <input class="emphone_number" maxlength="4" name="emPhoneNumber[]" type="text">
                        -
                        <input class="emphone_number" maxlength="4" name="emPhoneNumber[]" type="text">
                    </td>
                </tr>
                <tr>
                    <th><label for="phone_number">휴대전화<span>＊</span></label></th>
                    <td>
                        <select class="phone_number" id="phone_number" name="phoneNumber[]">
                            <option value="010">010</option>
                        </select>
                        -
                        <input class="phone_number" maxlength="4" name="phoneNumber[]" type="text">
                        -
                        <input class="phone_number" maxlength="4" name="phoneNumber[]" type="text">
                    </td>
                </tr>
                <tr>
                    <th><label for="store">매장명<span>＊</span></label></th>
                    <td><input id="store" name="store" type="text"></td>
                </tr>
                <tr>
                    <th><label for="birth_year">생년월일</label></th>
                    <td>
                        <input id="birth_year" maxlength="4" name="birthday[]" type="text">
                        년&nbsp;&nbsp;&nbsp;
                        <input id="birth_month" maxlength="2" name="birthday[]" type="text">
                        월&nbsp;&nbsp;&nbsp;
                        <input id="birth_day" maxlength="2" name="birthday[]" type="text">
                        일
                    </td>
                </tr>
            </table>

            <div class="bottombtn_box">
                <input class="registerbtn bottombtn" type="submit" value="회원가입">
            </div>
        </form>
    </div>
</section>
<!--footer-->
<footer th:replace="~{main/footer :: main_footerFragment}">
</footer>
</body>
</html>